.a
{
margin-left:46%;
}
.stat
{
    margin-left:47%;
}
.ver
{
    margin-left:41%;
}
.assign
{
    margin-left:42%;
}
.rep
{
    margin-left:46%;
}
.desc
{
    margin-left:47%
}


#cars
{
width:20%;
border-color: grey;
border-radius: 0.1rem;
box-shadow: none;
border-width: 0.1rem;
}
.inp
{
margin-left:30%;
width:20%;
border-color: grey;
border-radius: 0.1rem;
border-width: 0.1rem;
box-shadow: none;
}
.txt
{
    height:10%;
    width:70%;
    border-radius: 15rm;
    border-color: grey;
}
.fo
{
    margin-left: 10%;
    text-emphasis: none;
    text-decoration: none;
}
.submit
{

    background-color: #4d5aff;
    color:white;
    border-radius: 2px;
    margin-left: 50%;
}


